<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add - Adherent</title>

    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <link rel="stylesheet" th:href="@{/css/style.dev.tailwind.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="bg-gradient-to-r from-indigo-600 to-blue-400">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5  dark:bg-gray-900">
        <div class="sm:container flex flex-wrap justify-between items-center mx-auto">
            <a href="#" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Library</span>
            </a>
            <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500" aria-controls="navbar-solid-bg" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
                <ul class="flex flex-col mt-4 bg-gray-50 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-white dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Adherent</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Document</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Emprunt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="flex h-screen justify-center">
        <div class="block p-6 rounded-lg shadow-lg bg-white max-w-md m-auto w-96">
            <form method="post" th:action="@{/adherent/add}" th:object="${adherent}">
                <div class="form-group mb-6">
                    <input type="hidden" th:field=*{id}>
                    <input type="text"
                           class="form-control
                                                  block
                                                  w-full
                                                  px-3
                                                  py-1.5
                                                  text-base
                                                  font-normal
                                                  text-gray-700
                                                  bg-white bg-clip-padding
                                                  border border-solid border-gray-300
                                                  rounded
                                                  transition
                                                  ease-in-out
                                                  m-0
                                                  focus:text-gray-700
                                                  focus:bg-white
                                                  focus:border-blue-600
                                                  focus:outline-none"
                           id="nom"
                           aria-describedby="nom"
                           placeholder="Nom"
                           name="nom"
                           th:field=*{nom}
                    >
                    <p th:if="${#fields.hasErrors('nom')}"
                       th:errorClass="error"
                       th:errors="*{nom}"
                       class="mt-2 text-sm text-red-600 dark:text-red-500">
                    </p>
                </div>
                <div class="form-group mb-6">
                    <input type="text"
                           class="form-control
                                          block
                                          w-full
                                          px-3
                                          py-1.5
                                          text-base
                                          font-normal
                                          text-gray-700
                                          bg-white bg-clip-padding
                                          border border-solid border-gray-300
                                          rounded
                                          transition
                                          ease-in-out
                                          m-0
                                          focus:text-gray-700
                                          focus:bg-white
                                          focus:border-blue-600
                                          focus:outline-none"
                           id="prenom"
                           aria-describedby="prenom"
                           placeholder="Prenom"
                           name="prenom"
                           th:field=*{prenom}
                    />
                    <p th:if="${#fields.hasErrors('prenom')}"
                       th:errorClass="error"
                       th:errors="*{prenom}"
                       class="mt-2 text-sm text-red-600 dark:text-red-500">
                    </p>
                </div>
                <div class="form-group mb-6">
                    <input type="text"
                           class="form-control block
                                        w-full
                                        px-3
                                        py-1.5
                                        text-base
                                        font-normal
                                        text-gray-700
                                        bg-white bg-clip-padding
                                        border border-solid border-gray-300
                                        rounded
                                        transition
                                        ease-in-out
                                        m-0
                                        focus:text-gray-700
                                        focus:bg-white
                                        focus:border-blue-600
                                        focus:outline-none"
                           id="Adresse"
                           placeholder="Adresse"
                           name="adresse"
                           th:field=*{adresse}
                    >
                    <p th:if="${#fields.hasErrors('adresse')}"
                       th:errorClass="error"
                       th:errors="*{adresse}"
                       class="mt-2 text-sm text-red-600 dark:text-red-500">
                    </p>
                </div>
                <div class="form-group mb-6">
                    <input type="date"
                           class="form-control
                                                  block
                                                  w-full
                                                  px-3
                                                  py-1.5
                                                  text-base
                                                  font-normal
                                                  text-gray-700
                                                  bg-white bg-clip-padding
                                                  border border-solid border-gray-300
                                                  rounded
                                                  transition
                                                  ease-in-out
                                                  m-0
                                                  focus:text-gray-700
                                                  focus:bg-white
                                                  focus:border-blue-600
                                                  focus:outline-none"
                           id="birthday"
                           aria-describedby="birthday"
                           placeholder="Date Naissance"
                           name="date_naiss"
                           th:field=*{date_naiss}
                    >
                    <p th:if="${#fields.hasErrors('date_naiss')}"
                       th:errorClass="error"
                       th:errors="*{date_naiss}"
                       class="mt-2 text-sm text-red-600 dark:text-red-500">
                    </p>
                </div>
                <div class="form-group mb-6">
                    <input type="text"
                           class="form-control
                                          block
                                          w-full
                                          px-3
                                          py-1.5
                                          text-base
                                          font-normal
                                          text-gray-700
                                          bg-white bg-clip-padding
                                          border border-solid border-gray-300
                                          rounded
                                          transition
                                          ease-in-out
                                          m-0
                                          focus:text-gray-700
                                          focus:bg-white
                                          focus:border-blue-600
                                          focus:outline-none"
                           id="cin"
                           aria-describedby="cin"
                           placeholder="CIN"
                           name="cin"
                           th:field=*{cin}
                    />
                    <p th:if="${#fields.hasErrors('cin')}"
                       th:errorClass="error"
                       th:errors="*{cin}"
                       class="mt-2 text-sm text-red-600 dark:text-red-500">
                    </p>
                </div>

                <button type="submit" class="
                                              w-full
                                              px-6
                                              py-2.5
                                              bg-blue-600
                                              text-white
                                              font-medium
                                              text-xs
                                              leading-tight
                                              uppercase
                                              rounded
                                              shadow-md
                                              hover:bg-blue-700 hover:shadow-lg
                                              focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                                              active:bg-blue-800 active:shadow-lg
                                              transition
                                              duration-150
                                              ease-in-out">
                    Save
                </button>
            </form>
        </div>
    </div>
</body>
</html>
